* {
    box-sizing: border-box;
}

@import "tailwindcss";
@import "./colors.css";

@layer components {
    .darkText {
        color: var(--text-dark)
    }
    .mutedText {
        color: var(--text-muted)
    }
    .lightText {
        color: var(--text)
    }
    .button {
        color: var(--text);
        border: 1px solid var(--border);
        border-radius: 5px;
        background-color: var(--bg);
        width: fit-content;
        height: fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }
    .button:hover{
        background-color: var(--bg-light);
    }
    .button.accentButton {
        color: var(--text-dark);
        
        
        background-color: var(--accent);
        transition: 300ms;
    }
    .button.accentButton:hover {
        border-radius: 30px;
        background-color: var(--info);
    }
    
    
    .mainPage {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-dark);
    }
    
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .card {
        background-color: var(--bg);
        border: 1px solid var(--border);
        border-radius: 20px;
    }
    .card:not(.no-border-highlight):active {
        border-color: var(--highlight);
    }

    .box {
        background-color: var(--bg);
        border: 1px solid var(--border);
        border-radius: 10px;
    }

    .regularInput {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 20px;
        background-color: var(--bg-light);
        border-color: var(--border);
        color: var(--text);
    }
    .regularInput:focus {
        border-color: var(--highlight);
        outline: none;
    }
    
                      

}





